<form (ngSubmit)="start()"
      [formGroup]="optionsForm">
  <div class="options">
    <div class="option">
      <h3 class="option__header">Głębokość przeszukiwania: {{ optionsForm.get('depthLimit').value }}</h3>
      <mat-slider class="depth-slider"
                  formControlName="depthLimit"
                  [max]="depthMax"
                  [min]="depthMin"
                  [step]="depthStep"
                  [thumbLabel]="true">
      </mat-slider>
    </div>

    <div class="option">
      <h3 class="option__header">Który symbol wybierasz?</h3>
      <mat-radio-group formControlName="humanSymbol">
        <mat-radio-button class="option__radio-button"
                          [value]="player.O">
          O
        </mat-radio-button>

        <mat-radio-button class="option__radio-button"
                          [value]="player.X">
          X
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="option">
      <h3 class="option__header">Kto zaczyna?</h3>
      <mat-radio-group formControlName="firstPlayer">
        <mat-radio-button class="option__radio-button"
                          [value]="'AI'">
          <mat-icon>computer</mat-icon>
          Komputer
        </mat-radio-button>

        <mat-radio-button class="option__radio-button"
                          [value]="'H'">
          <mat-icon>person</mat-icon>
          Użytkownik
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <button mat-raised-button
            color="primary"
            class="start-button"
            type="submit"
            [disabled]="gameStarted">
      Start
    </button>
  </div>
</form>

<div class="game-board"
     [ngClass]="{'win': isWinner(), 'lose': isLooser(), 'tie': isTie()}">
  <ng-container *ngFor="let row of (gameBoard$ | async).board2; let rowIndex = index">
    <button class="game-field"
            *ngFor="let field of row; trackBy: trackCol(rowIndex); let colIndex = index"
            [ngClass]="{'winner-field': isWinnerField(rowIndex, colIndex)}"
            (click)="onMove(rowIndex, colIndex)"
            matRipple
            [disabled]="!!gameOver || field !== '' || !gameStarted">
      {{ field }}
    </button>
  </ng-container>
</div>
<!--

<div class="info">
  <h3 class="info__header" *ngIf="(turn$ | async) === player.Computer">Czekaj na ruch komputera.</h3>
  <h3 class="info__header" *ngIf="(turn$ | async) === player.Human">Twój ruch!</h3>
</div>
-->
